/* general stuff */
body {
  padding: 0;
  margin: 0;
  background: #F2F0EC;
  font-family: Futura, Helvetcia, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
 
* {
  vertical-align: top;
}
 
/* typography */
 
h1 {
  margin: 0;
}
 
 
/* utility classes */
 
.container {
  margin: 0 auto;
  width: 940px;
}
 
/* header */
 
header {
  min-width: 940px;
  height: 60px;
  background: url(images/header.png) repeat-x top left;
}
 
.primary-header {
  position: relative;
  z-index: 10;
}
 
.primary-header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
 
.primary-header a:hover {
  text-decoration: underline;
}
 
.primary-header .logo {
  margin-top: 5px;
}
 
.primary-header .nav {
  display: inline-block;
}
 
.primary-header .nav li {
  display: inline;
  list-style-type: none;
  margin-right: 40px;
}
 
.primary-header .user-menu {
  float: right;
}
 
.primary-header .user-menu .avatar {
  margin-top: 5px;
  margin-right: 10px;
  width: 50px;
  border-radius: 100px;
}
 
.primary-header .user-menu .name {
  color: white;
  margin-top: 17px;
  display: inline-block;
}
 
.secondary-header {
  height: 80px;
  margin-bottom: 30px;
  padding: 22px 0 0;
  background: white;
  color: #414141;
  -webkit-font-smoothing:antialiased;
  font-size: 13px;
  box-shadow: 0 0 7px rgb(162, 162, 162);
}
 
 
/* event section */
.event .main {
  /* the height here is for demo purposes only*/
  height: 400px; 
  width: 618px;
  display: inline-block;
  margin-right: 15px;
  border: 1px solid blue;
}
 .event .main .eventphoto {
  height: 400px;
  width: 618px;
 }
.event .sidebar {
  width: 298px;
  display: inline-block;
  
}

.event .photolabel {
  height: 90px;
  width: 618px;
  background: #D0CDC7;
  color: #414141;
  display: inline-block;
  font-size: 18px;
}

.event .photolabel .photolabeltext {
  margin-top: 25px;
  margin-left: 19px;
}

.labelbar {
  width:620px;
  height: 50px;
  background: black;
  opacity: 0.5;
  margin-top: -473px;
}

.labelbartitle {
  color: white;
  font-family: futura;
  font-size: 23px;
  opacity: 1.0;
  display: inline-block;
  margin-top: 8px;
  margin-left: 10px;

}

.labelbartime {
  color: white;
  font-family: futura;
  font-size: 14px;
  display: inline-block;
  margin-top: 14px;
  margin-left: 255px;
}

.event .postlabeltext {
  color: #414141;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 19px;
}

.event .yellowimageribbon {
  position: relative;
  height: 27px;
  width: 130px;
  background: linear-gradient(to bottom, #fefcea 0%,#f1da36 3%); /* W3C */
  color: white;
  text-align: center;
  font-size: 13px;
  font-family: futura;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
  box-shadow: 0 2px 0 rgb(155, 154, 154);
  margin-left: -8px;
  margin-top: -143px;
  z-index: 20;

}
 
/* stats box */
 
.stats-box {
  width: 140px;
  background: #D0CDC7;
  color: white;
  height: 117px;
  display: inline-block;
  margin-right: 13px;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

.stats-box2 {
  width: 140px;
  background: #949090;
  color: white;
  height: 33px;
  display: inline-block;
  margin-right: 13px;
  line-height: 33px;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}
.stats-boxlast2 {
  width: 140px;
  background: #949090;
  color: white;
  height: 33px;
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 25px;
  line-height: 33px;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

.number {
  font-size: 74px;
  text-align: center;
  padding: 3px;
}

.unit {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
 
.stats-boxlast {
   width: 140px;
  background: #D0CDC7;
  color: white;
  height: 117px;
  display: inline-block;
  margin-right: 0;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

.sidebar .joinbutton {
  width: 300px;
  height: 64px;
  display: inline-block;
  background: linear-gradient(to bottom, #fcec5f 0%,#f1da36 88%); /* W3C */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(155, 154, 154);
}

.sidebar .joinbutton .joinbuttontext {
  text-align: center;
  color: white;
  font-size: 27px;
  font-family: Futura;
  padding: 12px;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

.sidebar .postbuttonribbon {
  display: inline-block;
  position: relative;
  z-index: -3;
  width: 300px;
  height: 70px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(189, 189, 189);
}

.sidebar .postbuttonribbon .ribbonimage {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.sidebar .postbuttonribbon .ribbontext1 {
  color:#414141;
  display: inline-block;
  font-family: Futura;
  font-size: 18px;
  margin-top: 8px;
}
.sidebar .postbuttonribbon .ribbontext2 {
  color:#414141;
  display: inline-block;
  font-family: Futura;
  font-size: 12px;
  margin-top: 37px;
  margin-left: -110px;
}

.sidebar .postribbontext{
  color:#414141;
  display: inline-block;
  font-family: Futura;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

.sidebar .socialmedia{
  display: inline-block;
  margin-left: -10px;
  margin-top: 12px;
  margin-bottom: 150px;

}
/*end of sidebar*/

.submainwrap {
  margin: 0 auto;
 min-width: 1600px;
  margin-left: -328px;
  background: white;
  font-family: Futura;
  display: inline-block;
}

.submainimage1 {
  width: 315px;
  display: inline-block;
  color: black;
  margin-left: 328px;
  margin-top: 40px;
}

.submainimage {
  width: 315px;
  margin-top: 40px;
  display: inline-block;
  color: black;
/*  margin-left: 262px;*/
}

.subtext {
  width: 215px;
}

.subimagetitle {
  font-size: 14px;
  font-weight: bold;
  color: #414141;
  margin-top: 5px;
}

.subimagetext {
  font-size: 12px;
  margin-bottom: 20px;
  color: #414141;
}

.subevents {
  margin-left: 328px;
  width: 645px;
  display: inline-block;
}

.subtime1 {
  display: inline-block;
  color: #414141;
  font-family: futura;
  font-size: 13px;
  margin-left: 245px;
  margin-top: -55px;
}

.subtime {
  display: inline-block;
  color: #414141;
  font-family: futura;
  font-size: 13px;
  margin-left: 250px;
  margin-top: -73px;
}

.subtopborder {
  height: 1px;
  width: 975px;
  background: #D0CDC7;
  margin-bottom: 15px;
  margin-top: -10px;
}

.subeventtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}


.subeventtextbold{
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  width: 250px;
  color: #414141;
}
.subeventtext{
  display: inline-block;
  font-size: 14px;
  width: 215px;
  margin-bottom: 10px;
  color: #D0CDC7;
}

.subeventtexttime{
  display: inline-block;
  font-size: 14px;
  width: 152px;
  margin-bottom: 10px;
  color: #D0CDC7;
}

.subeventborder {
  height: 1px;
  width: 630px;
  background: #D0CDC7;
  margin-bottom: 10px;
}

.startmobbox {
  margin-top: 10px;
  height: 210px;
  width: 300px;
  background: #D0CDC7;
  display: inline-block;
  margin-bottom: 57px;
}


.startboxtitle {
  color: white;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

.numbercircle1 {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(211,211,211,1) 47%,rgba(242,242,242,1) 100%); /* W3C */
  margin-left: 29px
}

.numbercircledigit {
  text-align: center;
  color: #414141;
  font-size: 18px;
  margin-top: 5px;
}

.postcircletext {
  font-size: 11px;
  color: #414141;
  text-align: center;
  width: 75px;
  margin-left: -20px;
  margin-top: 6px;

}

.numbercircle {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 100px;
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(211,211,211,1) 47%,rgba(242,242,242,1) 100%); /* W3C */
  margin-left: -5px;
  margin-bottom: 40px;
}

.numberconnecter {
  margin-top: 15px;
  margin-left: -5px;
  display: inline-block;
  height: 7px;
  width: 68px;
  background: #A3A3A3;
}

.startmobbutton {
  width: 278px;
  height: 60px;
  display: inline-block;
 background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(211,211,211,1) 47%,rgba(242,242,242,1) 100%); /* W3C */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(155, 154, 154);
  margin-left: 10px;
  border-radius: 8px;
  border: 1px black;
}

.startbuttontext {
  font-size: 24px;
  text-align: center;
  color: rgb(84, 84, 238);
  margin-top: 15px;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

.footer1 {
    display: inline-block;
    height: 340px;
   min-width: 1600px;
   margin: 0 auto;
   /*margin-left: -250px;
   margin-top: 200px;*/


  background: url(images/footer1.png) repeat-x top left;
}
  
.footerbuttonssection {
  width: 330px;
  display: inline-block;
  color:white;
  font-family: Futura;
  margin-left: 285px;


}

.categories {
font-size: 20px;
margin-top: 20px;

}

.blackbutton {
  width: 120px;
  height: 18px;
  display: inline-block;
  background: linear-gradient(to bottom, #3d3d3d 19%,#4c4c4c 82%); /* W3C */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(73, 72, 72);
  margin-left: 5px;
  margin-top: 13px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

 .footermediasection {
  width: 200px;
  display: inline-block;
  color:white;
  font-family: Futura;
  margin-left: 50px;
}

.footertext {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    
} 

.fancy {
  padding: 16px 8px;
  width: 180px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #acacac;
  border-top: 1px solid #808080;
  box-shadow: inset 0px 4px 3px -2px #424242;
  display: inline-block;
}

.checkbox {
  display: inline-block;
  background: #D0CDC7;
  width: 46px;
  height: 47px;
  border-radius: 0 8px 8px 0;
  margin-top: -49px;
  margin-left: 185px;
  color: white;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;

}

.mediaimage {
    margin-top: -1px;
    margin-left: -15px;
}

.socialmedtext {
  display: inline-block;
  color: white;
  font-size: 13px;
  font-family: Futura;
  

}
.mediatext {
  display: inline-block;
  margin-top: 3px;
}

.footermedialine {
  display: inline-block;
  width: 220px;
  height: 1px;
  background: black;
  margin-top: 5px;
}

.footerfinalsection {
  width: 175px;
  display: inline-block;
  color:white;
  font-family: Futura;
  margin-left: 100px;
  margin-top: 20px;

}

.footerbuttonyellow {
  width: 218px;
  height: 50px;
  display: inline-block;
  background: linear-gradient(to bottom, #fcec5f 0%,#f1da36 88%); /* W3C */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(155, 154, 154);
  margin-left: -20px;
}

.footerbuttontext {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Futura;
  padding: 12px;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
}

.footertext2 {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 7px;
    
} 

.footerline {
  width: 175px;
  height: 1px;
  background: black;
  margin-top: 30px;
}

.copyrightline {
  font-size: 16px;
  margin-top: 20px;
}